.nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: #ffffff;
    position: fixed; 
    width: 100%;
}
.nav-header {
    padding-left: 80px;
    color: #335576;
}
.nav-list {
    list-style: none;
    display: flex;
    padding-right: 80px;
}
.nav-list_item {
    
}
.nav-list-link {
    margin: 10px;
    text-decoration: none;
    color: black;
}
.main-iceland {
height: 55vw;
background-image: url(../assets/images/iceland.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.main-greece {
height: 55vw;
background-image: url(../assets/images/greece.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.main-hawaii {
height: 55vw;
background-image: url(../assets/images/hawaii.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.main_header {
    margin: 0;
    padding-top: 230px;
    padding-left: 180px;
    font-size: 90px;
    color: #ffffff;
}
.card-box {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 90px;
    padding-bottom: 130px;
    
}
.card-container {
    border-radius: 5px;
    border-color: #ffffff;
    height: 440px;
    width: 330px;
    box-shadow: none;
    background-color: #ffffff;
    position: relative;
    
}
.card_day {
    text-align: center;
    border-bottom: 2px solid black;
    position: relative;
    width: 90%;
    left: 20px;
}
.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.list_item {
    background-color: #FEFAF5;
    width: 90%;
    padding: 15px;
    text-align: center;
    position: relative;
    right: 20px;
}
.footer {
    background-color: #FEFAF5;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding-bottom: 30px;
    padding-top: 30px;
}
.footer_container {
    display: flex;
    flex-direction: column;
}
.footer_heading {
    color: #335576;
}
.footer_text_one {
    color: #db7a4e;
    font-size: 12px;
    margin-bottom: 0;
}
.footer_text_two {
    color: #335576;
    margin-top: 10px;
}
.span-one {
    padding-left: 140px;
}
.span-two {
    padding-left: 80px;
}
.social-media-icon {
    width: auto;
    height: 30px;
    padding-top: 25px;
    padding-right: 30px;
}
.active {
    border-bottom: 3px solid #db7a4e;
    padding-bottom: 10px;
}
